@import url('http://fonts.googleapis.com/css?family=Roboto');

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --Myblue: #1da1f2;
    --Mygrey: #777;
    --Dkgrey: #fafafa;
    font-family: "Roboto", sans-serif;
}

html{
    padding-top: 80px;
    scroll-padding-top: 100px;
    margin-top: auto;
}

body{
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
}

a{
    /* font-family: 'Roboto'; */
    text-decoration: none;
    color: black;
}

/* MOBILE VIEW */

p{
    /* font-family: 'Roboto'; */
    color: var(--Mygrey);
    font-weight: 400;
    line-height: 22px;
}

header{
    position: fixed;
    background-color: #FFF;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    z-index: 99;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

.logo-container{
    display: flex;
    flex-flow: column;
    margin-right: auto;
    text-align: center;
}

.logo{
    position: relative;
    left: -5px;
    cursor: pointer;
    margin-right: auto;
    height: 50px;
    width: auto;
}



button{
    /* font-family: 'Roboto'; */
    font-size: 11px;
    font-weight: 900;
    color: white;
    letter-spacing: 2px;
    border: none;
    background-color: var(--Myblue);
    border-radius: 3px;
    cursor: pointer;
    padding: 12.5px 30px;
}

button:hover{
    opacity: 0.8;
    transition: all 0.5s;
}

button:focus{
    outline: none;
}
.ctn-button_navbar button{
    margin-left: 20px;
}

    body{
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .show-desktop{
        list-style: none;
        padding-left: 10px;
        padding-bottom: 2px;
    }

    .show-desktop li{
        padding-top: 10px;
       
    }
    
    .show-desktop li a{
        transition: all 0.3s ease 0s;
        color: var(--Mygrey);
    }
    
    .show-desktop li a:hover{
        color: var(--Myblue);
    }
    

    /* HERO SECTION STYLE */

    h1{
        font-weight: 400;
        line-height: 1.2;
        font-size: 30px;
        margin-bottom: 20px;
        letter-spacing: -0.05em;
        overflow: hidden;
    }

    .hero{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        padding: 60px 0;
        text-align: center;
        border-bottom: 1px solid #eaeaea;
        height: 80vh;
        scroll-behavior: smooth;
        
    }

    .container{
        padding: 0 15px 0 15px;
        margin: 0 auto 0 auto;
    }


    .hero-content{
        position: relative;
        text-align: center;
        min-height: 1px;
       
    }

    .hero-para{
        margin-bottom: 20px;
    }

    .image-hero{
        padding: 0 20px;
        align-items: center;
    }

    .img_hero{
        position: relative;
        width: 100%;
        max-width: 600px;
        height: auto;
        animation: horizontal 2.5s ease-in-out infinite;
        z-index: -1;
    }

    @keyframes horizontal{
        0% {top: 0px;}
        50%{top: -20px;}
        100%{top: 0px;}
    }

    /* FEATURES SECTION */

    .features{
        
        padding: 60px 15px;
        background-color: var(--Dkgrey);
        border-bottom: 1px solid #eaeaea;
    }

    .features-container{
        display: flex;
        flex-flow: row;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .box{
        display: flex;
        flex-flow: column;
        align-items: center;
        border: 1px dashed #ddd;
        margin: 15px 0;
        padding: 30px;
        -webkit-transition: all .2s linear;
    }

    .box:hover{
        transform: scale(1.1);
        -webkit-transition: all .2s linear;
    }

    .box1-img{
        position: relative;
        height: 50px;
        width: 50px;
        margin-bottom: 15px;
    }
   
    .box h3{
        font-size: 16px;
        margin-bottom: 5px;
        line-height: 1.7;
        font-weight: 600;
    }


    .features-desc{
        scroll-behavior: smooth;
        transition: all 2s ease-out;
        padding: 100px 0;
    }


    .features-desc-container{
        padding: 0 15px;
        margin: 0 auto;
    }

    .section-title{
        text-align: center;
        margin-bottom: 80px;
    }


    .section-title h2{
        font-size: 40px;
        letter-spacing: -0.02em;
        margin-bottom: 10px;
    }

    .grid-col1{
        text-align: right;
    }
    
    .grid-col2{
        display: none;
    }

    .desc{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }

    .feature-box{
        margin-bottom: 20px;
    }

    .feature-box h3{
        font-size: 22px;
        margin-bottom: 10px;
    }

    .xiaomi-robot-profile{
       display: none;
    }
    
    .instruction{
        padding: 60px 15px;
        background: var(--Myblue);
        text-align: center;
        background-image: url(grafiki/cleaning_floor.png);
        background-size: cover;
        background-position: center center;
    }

    .instruction-container{
        display: flex;
        flex-flow: column;
        margin: 0 auto;
    
    }

    .instruction-box{
        max-width: 225px;
        margin: 0 auto 20px auto;
    }

    .instruction-box img{
        position: relative;
        height: 50px;
        width: 50px;
        margin-bottom: 10px;
    }

    .instruction-box p{
        color: #ddd;
    }

    .instruction-box h3{
        font-size: 20px;
        line-height: 1.7;
        font-weight: 600;
        letter-spacing: -0.01em;
        color: #FFF;
        margin-bottom: 5px;
    }
    
    .arrow{
        display:none;
    }

    .section-content{
        padding: 60px 0;
        border-bottom: 1px solid #eaeaea;
        align-items: center;
        margin: 0;
    }

    .section-content-container{
        padding: 0 15px;
        display: flex;
        flex-flow: column;
        margin: 0 auto;
        align-items: center;
    }

    .section-para h2{
        font-size: 36px;
        margin-bottom: 20px;
    }

    .section-para p{
        margin-bottom: 20px;
    }

    .section-content-img{
        padding: 15px;
        display: flex;
    }

    .section-content-img img{
        position: relative;
        max-width: 80%;
        margin: 0 auto;
    }

    .product-choice{
        padding: 60px 0;
        background-color: #FAFAFA;
        border-bottom: 1px solid #eaeaea;
    }

    .product-choice-container{
        padding: 0 15px;
    }

    .product-content{
        text-align: center;
        margin-bottom: 40px;
    }

    .product-content h2{
        font-size: 36px;
        margin-bottom: 20px;
        font-weight: 600;
    }

    .product-content p{
        margin-bottom: 20px;
    }

    .product-card{
        border: 1px solid #ddd;
        display: flex;
        flex-flow: column;
        align-items: center;
        max-width: 250px;
        margin: 0 auto;
    
    }

    #card1{
        margin-bottom: 20px;
    }

    .carousel{
        border-bottom: 1px solid #eaeaea;
    }


    .btnAddCart{
        display: block;
        position: absolute;
        left: 28%;
        bottom: 15%;
        /* left: 30%;
        bottom: -50%; */
        z-index: 1;
        /* z-index: -10; */
        /* animation: showbutton .3s linear forwards; */
    }

    .btnAddCart button:hover{
       background: #FFCE31;
       color: var(--Myblue);
       transition: all .3 ease-out;
    }

    /* @keyframes showbutton{
        0%{
            transofrm: translateY(0);
            opacity: 0;
        }
        25%{
            opacity: 20%;
        }
        100%{
            transform: translateY(-150px);
            opacity: 100%;
            z-index: 1;
        }
    } */


    
    .product-text{
        text-align: center;
        padding: 5%;
        z-index: 2;
    }

    .product-name{
        font-size: 20px;
        color: #007bff;
    }

    .Availability span{
        color: #34bf49;
        font-weight: 700;
    }

.price{
    text-align: left;
}

    .price::after{
        content: "";
        position: relative;
        display: block;
        top: -19px;
        left: 90px;
        background-image: url(grafiki/star.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 15px;
        width: auto;
    }
    
    .price-value{
        color: red;
        font-weight: 700;
        letter-spacing: 0.1rem;
    }
    
    .testimonials{
        padding: 60px 15px;
        display: flex;
        flex-flow: column;
        text-align: center;
        border-bottom: 1px solid #eaeaea;
    }
    
    .testimonials-title{
        display: flex;
        flex-flow: column;
        margin-bottom: 60px;
    }

    .testimonials-title h2{
        margin-bottom: 10px;
    }

    .testimonials-title p{
        margin-bottom: 20px;
    }
    
    .figure{
        border: 1px solid #ddd;
        padding: 20px 10px 10px 10px;
        margin-bottom: 20px;
    }

    .figure img {
        margin-bottom: 10px;
    }

    .figure > p{
        margin-bottom: 20px;
    }

    .quotation{
        display: block;
        position: relative;
        height: 25px;
        width: auto;
        opacity: 0.8;
    }


    .name{
        color: black;
        font-size: 16px;
        font-weight: 600;
    }

    .faq{
        padding: 60px 0;
        display: flex;
    }

    .faq-container{
        padding: 0 30px;
        margin: 0 auto;
        max-width: 960px;
    }


    .faq-title{
        text-align: center;
        margin-bottom: 60px;
    }

    .faq-grid{
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    
    .faq h2{
        margin-bottom: 20px;
    }
    
    .faq h3{
        margin-bottom: 20px;
    }

    .cta-section{
        background-color: var(--Myblue);
        padding: 60px 15px;
    }

    .cta-section-container{
        display: flex;
        flex-wrap: wrap;
        max-width: 960px;
        margin: 0 auto;
        justify-items: flex-end;
    }

    .cta-section h2{
        color: #fff;
        font-size: 28px;
        margin-right: auto;
    }


    .btn-last{
        background-color: #FFFF;;
        color: #555;
        font-weight: 900;
    }

    footer{
        padding: 60px 0;
        display: flex;
        flex-flow: column;
        border-bottom: 1px solid #eaeaea;
    }

    .footer-container{
        display: flex;
        flex-flow: column;
        max-width: 339px;
        justify-content: center;
        padding: 0 15px;
        margin: 0 auto;
        
        text-align: center;
    }

    .footer-container p{
        margin-bottom: 20px;
    }

    .social{
        margin-top: 20px;
    }

    .social_icon{
        cursor: pointer;
        align-items: center;
        vertical-align: center;
        background-color: #f2f2f2;
        padding: 10px;
        position: relative;
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }

    .logo_footer{
        cursor: pointer;
        margin: 0 auto;
        position: relative;
        left: -5px;
        height: 50px;
        width: auto;
        margin-bottom: 10px;
    }

    i{  
        
        color: var(--Myblue);
    }

    .brand-name{
        color: black;
        font-weight: 900;
    }

    .footer-bottom{
       margin: 20px auto;
       padding: 0 15px;
       text-align: center;
    }


@media screen and (min-width:576px){
    
    .logo-container{
        flex-flow: row;
    }

    .logo-container p{
        margin: auto 0;
    }


     .container{
         max-width: 540px;
         padding: 0 15px;
    }

    .features-container{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        
    }

    .box{
        margin: 0;
    }

    #card1{
        margin-bottom: 0;
        margin-left: auto;
    }

    #card2{
        
        margin-right: auto;
    }

    .product-choice-container{
        margin: 0 auto;
    }

    .product-cards{
        display: flex;

    }

    .testimonials-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        grid-gap: 20px;
    }

    .figure{
        max-width: 300px;
    }

    


    



 }

@media screen and (max-width: 767px){
    p{
        font-size: 12px;
    }

    nav{
        clear: both;
        top: 105px;
        width: 80%;
        justify-content: center;
        position: absolute;
        max-height: 0;
        background: #FFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease-out;
        overflow: hidden;
        
    }

    .nav-active{
        clear: both;
        width: 80%;
        position: absolute;
        top: 105px;
        justify-content: center;
        z-index: 99;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        background: #FFFF;
        
        max-height: 200px;
        transition: max-height 0.25s ease-in;
    }

    .hamburger-menu{
        display: block;
        padding: 15px;
        display: flex;
        justify-self: center;
        cursor: pointer;
    }
    .hamburger-icon{
        background: #a7a7a7;
        display: inline-block;
        height: 2px;
        position: relative;
        width: 18px;    
    }
    
    .hamburger-icon::before, .hamburger-icon::after{
        background: #a7a7a7;
        content: "";
        display: inline-block;
        height: 2px;
        position: absolute;
        width: 18px;
    }
    
    .hamburger-icon::before{
        top: 5px;
    }
    
    .hamburger-icon::after{
        top: -5px;
    }

    .image-hero{
        margin-top: 70px;
    }

    h1{
        font-weight: 400;
        font-size: 30px;
    }

    .features-desc-container{
        max-width: 720px;
    }

  .cta-section-container h2{
      margin-bottom: 20px;
  }
    

    
}





@media screen and (min-width: 768px){

    h1{
        font-size: 36px;
    }
    
    a{
        font-size: 11px;
        font-weight: 600;
    }

    p{
        font-size: 16px;
        line-height: 23px;
    }

    h3{
        font-size: 18px;
    }

    nav{
        margin-left: auto;
        margin-right: 0;
    }

    .show-desktop li{
        font-size: 15px;
        display: inline-block;
        padding: 0 5px 0 5px;
    }

    .ctn-button_navbar button{
        margin-left: 10px;
    }

    .hamburger-menu{
        display: none;
    }

    .ctn-button_navbar{
        order: 3;
    }

    .hero{
        height: max-content;
        display: flex;
        
    }


    .container{
        max-width: 720px;
        display: flex;
        flex-wrap: nowrap;
    }

    .hero-content-wrap{
        max-width: 66.667%;
    }

    .hero-content{
        text-align: left;
        padding: 0 15px 0 15px;     
        
    }
    .image-hero{
        padding: 0 15px 0 15px;
        max-width: 33.333%;
        margin-top: 35px;
        
    }

    .features{
        padding: 100px 15px;
    }

   .features-container{
       max-width: 960px;
   }

    .box{
        margin: 0;
    }

    .features-desc-container{
        max-width: 960px;
    }

    .instruction-container{
        flex-flow: row;
        justify-items: space-evenly;
    }

    #instruction-box2{
        margin: 0 10px;
    }

    .instruction-box{
        margin-bottom: 0;
    }

    .section-content-container{
        flex-flow: row;
        max-width: 720px;
    }

    .content-col1{
        max-width: 50%;
        margin-left: 3%;
    }

    .content-col2{
        max-width: 50%;
    }

    .section-content{
        padding: 100px 0;
    }

    .section-content-img img{
        max-width: 100%;
    }

     .product-choice-container{
        max-width: 720px;
    }

    .product-card{
        max-width: 300px;
    }

    .faq-grid{
        grid-template-columns: 1fr 1fr;
       
    }

    .faq{
        padding: 100px 0;
    }
}




@media screen and (min-width: 992px){
    h1{
        font-size: 50px;
        
    }
    
    a{
        font-size: 11px;
        font-weight: 600;
    }

    p{
        font-size: 16px;
        line-height: 23px;
    }

    nav{
        margin-right: 0;
    }


    .show-desktop li a{
        font-size: 12px;
        padding: 0 10px 0 10px;
    }

    .container{
        max-width: 960px;
    }

    .features-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }

    .features-desc-container{
        max-width: 960px;
    }

    .desc{
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
    }

    .grid-col2{
        display: flex;
        align-items: center;
        z-index: -1;
        width: 350px;
    }



    .xiaomi-robot-profile{
        position: relative;
        
        top: -10px;
        display: block;
        height: 350px;
        width: auto;
        animation: vertical 2s linear infinite;
        margin: 0;
    }

    @keyframes vertical{
        0% {transform: translateX(0);}
        25%{transform: translateX(-10px);}
        50%{transform: translateX(0);}
        75%{transform: translateX(10px);}
        100%{transform: translateX(0);}
    }

    #feature2{
        margin-right: 60px;
    }

    #feature5{
        margin-left: 60px;
    }

    #feature h3::before{
        top: 22px important!;
    }

    #feature5 h3::after{
        right: 50% !important;
    }

    .grid-col1 .feature-box h3::before{
        background-color: var(--Myblue);
        display: block;
        content: "";
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        top: 20px;
        left: 105%;
        z-index: 1;
    }

    .grid-col3 .feature-box h3::before{
        background-color: var(--Myblue);
        display: block;
        content: "";
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        top: 20px;
        right: 10%;
        z-index: 1;
    }


    .grid-col1 .feature-box h3::after{
        background-color: #999;
        display: block;
        content: "";
        position: relative;
        width: 100px;
        height: 2px;
        
        top: -13.5px;
        left: 108%;
        z-index: 0;
    }
    .grid-col3 .feature-box h3::after{
        background-color: #999;
        display: block;
        content: "";
        position: relative;
        width: 100px;
        height: 2px;
        
        top: -13.5px;
        right: 42%;
        z-index: 0;
    }

    .instruction{
        padding: 120px 15px;
    }

    .instruction-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        max-width: 1200px;
    }

    .arrow{
        display: flex;
        align-content: center;
        margin: auto auto;
    }

    .section-content-container{
        max-width: 1140px;
      
    }

    .section-para p{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .section-content-img{
      
       padding: 0 50px;
    }

    .section-content-img img{
        position: relative;
        height: auto;
        max-width: 80%;
    }

    .testimonials-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

        
}

@media screen and (min-width: 1200px){

    .header-container{
        max-width: 1350px;
    }

    .container{
        max-width: 1140px;
    }

    .features-container{
      
        max-width: 1140px;
    }
    
    .section-content-container{
        max-width: 1140px;
    }


}